body {
    padding: 0%;
    margin: 0%;
}


/**
* ? navbar style
* !25 for top bottom 60 for left right
**/

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
    
}

.cart {
    background-color: aliceblue;
    position: relative;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    /* height: 40px; */
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;

}


/**
*!shop item style are here
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 25px;
    justify-content: center;
    
}


@media(max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media(max-width: 500px) {
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid #212529;
    border-radius: 4px;
    
}

.details {
    display: flex;
    flex-direction: column;
    padding: 8px;  
}


.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.buttons {
    display: flex;
    gap: 8px
}


.bi-dash-lg{
color: red;
}

.bi-plus-lg{
    color: green;
}